:root {
    --md-text-font: "JetBrains Mono", "LXGW WenKai Screen"; 
    --md-code-font: "JetBrains Mono", "Consolas", "LXGW WenKai Screen";
}
/* 两侧目录栏修改（by @TonyCrane） */
.md-nav--secondary .md-nav__title {
  background: rgb(255 255 255 / 0%);
  box-shadow: 0 0 .4rem .4rem rgba(255, 255, 255, 0);
  position: relative;
}

.md-nav--lifted>.md-nav__list>.md-nav__item--active>.md-nav__link {
  background: rgb(255 255 255 / 0%);
  box-shadow: 0 0 .4rem .4rem rgba(255, 255, 255, 0);
  position: relative;
}

.md-nav__list a.is-active {
  color: var(--md-accent-fg-color);
}

/*.md-sidebar--secondary .md-nav > .md-nav__list > li > a + .md-nav {
  display: none;
}
.md-sidebar--secondary .md-nav > .md-nav__list > li > a.is-active + .md-nav {
  display: block;
}*/

[data-md-color-scheme="default"] .md-nav__title {
  color: #000;
}

/* 标题字粗 */
.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5 {
  font-weight: 600;
}

.md-header__topic {
  font-weight: 700;
}

.md-typeset h3 {
  margin: .8em 0 .8em
}

/* 假标题，类似标题的样式，但不会被目录包括进去 */

.fakeTitle {
  font-size: 1.3em;
  font-weight: 600;
  margin: .8em .4em .8em
}

.md-nav__link {
  font-size: 1em;
}

/* 正文部分页面宽度扩大（移动端可能会有问题） */
/*.md-grid {
  max-width: 1350px; 
}*/

/* 代码字体大小 */
.md-typeset code:not(pre code) {
  font-size: .7rem;
}

/* 增大 admonition 内的字体大小 */
.md-typeset .admonition, .md-typeset details {
  font-size: inherit;
}

/* 增大了导航栏和两侧目录的字体大小 */

@media screen and (min-width: 960px) {
  html {
    font-size: 137.5%;
  }
}

@media screen and (min-width: 100em) {
  html {
    font-size: 137.5%;
  }
}

@media screen and (min-width: 125em) {
  html {
    font-size: 137.5%;
  }
}

/* 正文字体大小 */

.md-typeset {
  font-size: .75rem;
}

/* 四号标题字体大小 */

.md-typeset h4 {
  font-size: 1.1em;
}

/* 表格字体大小 */

.md-typeset table:not([class]) {
  font-size: .7rem;
}

/* 链接下划线 */
/* .md-typeset a {
  text-decoration-line: underline;
}

.md-copyright a, .index-item-wrapper a {
  text-decoration-line: none;
}

a.headerlink {
  text-decoration-line: none;
}

.tabbed-labels.tabbed-labels--linked a {
  text-decoration-line: none;
} */

.tightBlock p{
  margin: 0 auto .2em;
}


/* 目录、头部、底部字体 */
.md-sidebar__scrollwrap, header.md-header, .md-tabs, footer.md-footer {
  font-family: 'LXGW WenKai Screen';
}

/* 图像圆角、阴影 */
img:not([src$=".svg"]) {
  border-radius: 5pt;
  box-shadow: var(--md-shadow-z2);
}

/* heimu moegirl */
.heimu, .heimu a, a .heimu, .heimu a.new {
  background-color: #252525;
  color: #252525;
  text-shadow: none;
}
.heimu:hover, .heimu:active,
.heimu:hover .heimu, .heimu:active .heimu {
  color: white !important;
}
.heimu:hover a, a:hover .heimu,
.heimu:active a, a:active .heimu {
  color: lightblue !important;
}
.heimu:hover .new, .heimu .new:hover, .new:hover .heimu,
.heimu:active .new, .heimu .new:active, .new:active .heimu {
  color: #BA0000 !important;
}
html {
  scroll-behavior: smooth;
}